.modal {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  color: #333;
}

.modalBtnsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cancelBtn,
.removeBtn {
  height: 32px;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
  transition: background-color 0.2s;
}

.cancelBtn {
  background-color: #4a90e2;
}

.removeBtn {
  background-color: rgb(122, 55, 55);
}
