.todoForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.inputWrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.todoInput {
  padding: 10px 14px;
  border: 1px solid #cacaca;
  width: 100%;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
  background-color: white;
  color: #333;
}

.todoPriority {
  padding: 10px 8px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  font-size: 0.95rem;
  background: #fff;
  color: #333;
  cursor: pointer;
}

.btnAdd {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.error {
  color: red;
}
